input[type=text]
  padding: 30px
  border-radius: 2px 2px 0 0
  background: var(--color-snow)
  border: 0
  margin-top: 50px
  font-size: 2rem
  color: hsl(0, 0%, 0)
  border-bottom: 5px solid var(--color-darkness)
