.daw
  width: 100vw
  background: black
  color: white

  .controls
    background-color: rgb(50, 50, 50)
    height: 50px
    display: flex
    align-items: center
    padding: 20px

  .track
    height: 70px
    display: flex
    align-items: center
    padding: 20px
    font-size: 11px
    &:nth-child(1n)
      background-color: hsl(10, 40%, 50%)
    &:nth-child(2n)
      background-color: hsl(50, 40%, 50%)
    &:nth-child(3n)
      background-color: hsl(90, 40%, 50%)
    &:nth-child(4n)
      background-color: hsl(130, 40%, 50%)
    &:nth-child(5n)
      background-color: hsl(170, 40%, 50%)
